<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, officiis. Eligendi quod beatae harum dolores ut optio minima maiores vero consequatur eius, iure sequi eveniet veniam impedit voluptas, vel ea!</p>
  </div>
</section>