
<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat tempora alias, modi voluptas, magni quaerat illum molestiae facere dolorum illo incidunt est facilis sequi doloribus fugiat, aliquam beatae impedit laborum eos ad iste quidem magnam rem. Cupiditate id architecto ipsam, eaque sequi possimus minus enim, sint exercitationem doloribus odit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quidem quia ipsum dolorum, sint cum corrupti et dolore. Quibusdam, voluptates!</p>
    <a href="https://www.google.com.mx/" class="btn btn-primary">Google</a>
</div>
